// Css variables
@use "./_variables.scss";

// Website css
body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    background: none;
}

// Navigation

.nav-wrapper {
    font-family: 'Chakra Petch', sans-serif;
}

// Paralax img setup
.pimg1 {
    @extend %parallax-settings;
    background-image: url('/images/laptopsetup.png');
    min-height: 100%;
}
.pimg2 {
    @extend %parallax-settings;
    background-image: url('/images/codeonlaptop.jpg');
    min-height: 400px;

}
.pimg3 {
    @extend %parallax-settings;
    background-image: url('/images/theendpic.jpg');
    min-height: 100%;

}
.row {
    margin-bottom: 0px!important;
}
@media screen and (max-width: 670px){
    .pimg1, .pimg3{
        min-height: 100%;
    }
    
}

//  Water effect (text "Web Developer")
@keyframes water {
	from {
		background-position: left 0 top 0;
	}
	to {
		background-position: left 1000px top 0;
	}
}
.middle {
	position: absolute;
	top: 43%;
	left: 55%;
	transform: translate(-50%,-50%);
	h1 {
        @extend %waterEffectonMainText
	}
}

// Skills and About me:

.skills {
    height: auto;
    h3, h4 {
        font-family: 'Chakra Petch', sans-serif;
    }
    h3 {
        font-size: 2.3rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    
    ul {
        list-style: none;
        padding: 0;
      }

      li {
        padding-left: 1.3em;
        .material-icons {
            line-height: -4;
            }
        }    
      }
      li:before {
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
      }

.aboutme{
    margin: 5px;
}

// Projects 
.projects {
    height: auto;
    h3 {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 2.3rem;
    }
}
@media screen and (max-width:1000px) {
    .projects{
      height: 1100px;
    }
   }
   @media screen and (max-width:600px) {
    .projects{
      height: 1600px;
    }
   }
.proj1, .proj2, .proj3, .proj4, .proj5 {
    margin: 40px 40px;
    height: 400px;
}



